{
    "extends": "byungi/react",
    "env": {
        "browser": true
    },
    "settings": {
        "react": {
            "pragma": "h"
        }
    },
    "rules": {
        "react/react-in-jsx-scope": "off",
        "react/prop-types": "off"
    }
}
