@use 'thejungle/reset';
@use 'thejungle/thejungle' as tj;
@use 'thejungle/easings' as ease;
@use 'sass:math';

@font-face{
    font-family: 'fromdamiM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_ten@1.0/fromdamiM.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.font-stylish{
    font-family: fromdamiM, sans-serif;
}

$color-bg: #f3eada;
$color-pr: #34412e;

@mixin animate($anime-opts) {
    $name: ANIMATE__#{unique_id()};
    animation: $name $anime-opts;
    @keyframes #{$name} {@content}
}

:root{
    background: $color-bg;
    font-family: 'Nanum Myeongjo', serif;
}
ol, ul{ padding-left: 1em; }
ul { list-style-type: disc; }

.app{
    margin: 0 auto;
    width: 100%;
    max-width: 550px;
    text-align: center;
}
.title{
    color: $color-pr;
    @extend .font-stylish;
}

.s1{
    $foot-h: 340px;

    position: relative;
    background: url('./assets/photo01.jpg') 60%;
    background-size: cover;
    height: calc(100vh - #{$foot-h});
    margin-bottom: $foot-h;

    &__foot{
        position: absolute;
        width: 100%; max-width: 550px;
        left:0; top: 100%;
        height: $foot-h;

        &::before{
            $wave-h: percentage(86/800);

            content: '';
            display: block;
            background: url('./assets/wave.svg') center no-repeat;
            padding-top: $wave-h;
            margin: 0 auto;
            margin-top: calc(#{-$wave-h} + 1px);
        }
    }

    &__names{
        position: absolute;
        left: 50%; top: 28px;
        font-size: 30px;
        transform: rotate(7deg) translateX(-105%);
        letter-spacing: 2px;
    }
    &__txt1{
        display: inline-block;
        transform: skewY(-6deg);
    }
    &__txt2{
        margin-left: 10px;
        display: inline-block;
        transform: skewY(-6deg);
    }
    &__title{
        margin-top: 38px;
        margin-bottom: 30px;
        font-size: 62px;
        letter-spacing: 2.8px;
    }
    &__txt3{
        font-size: 1.3em;
    }
    &__sub-title{
        color: #9b8b70;
        font-size: 18px;
        line-height: 1.6;
        opacity: 0;

        @include animate(1s 0.6s 1 forwards){
            from{
                opacity: 0;
                transform: translateY(10px);
            }
            to{ opacity: 1; }
        }
    }

    &__hearts{
        position: absolute;
        top: 18px; right: 24%;
        transform: rotate(18deg);
    }
    &__heart{
        position: absolute;
        opacity: 0;

        &--1, &--3{ left: -20px; }
        &--2, &--4{ left: 8px; }
        &--1, &--2{
            background-image: url('./assets/heart1.png');
            @include tj.size(44px, 34px);
        }
        &--3, &--4{
            background-image: url('./assets/heart2.png');
            @include tj.size(23px, 20px);
        }
        &--1, &--4{
            @include animate(1.1s infinite){
                0%{
                    opacity: 0;
                    transform: translateY(6px) rotate(30deg);
                }
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                    transform: translateY(-20px) rotate(-10deg);
                }
            }
        }
        &--2, &--3{
            @include animate(1.5s infinite){
                0%{
                    opacity: 0;
                    transform: scale(0.8) translateY(0) rotate(-30deg);
                }
                50%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                    transform: scale(1.1) translateY(-50px) rotate(30deg);
                }
            }
        }
        &--1{ animation-delay: 0.6s; }
        &--4{ animation-delay: 1s; }
    }
}

.s2{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #635e55;
    font-size: 18px;
    overflow: hidden;

    &__fr{
        position: absolute;
        z-index: -1;
        width: 32vw; max-width: 220px;

        $pad: 14px;
        &--lt{ left: $pad; top: $pad; }
        &--rt{ right: $pad; top: $pad; transform: scale(-1, 1); }
        &--lb{ left: $pad; bottom: $pad; transform: scale(1, -1); }
        &--rb{ right: $pad; bottom: $pad; transform: scale(-1); }
    }

    &__letter{
        width: 65%;
        margin: 0 auto;
        line-height: 1.8;
        white-space: pre-line;
        word-break: keep-all;
        background: url('./assets/hr.svg') no-repeat bottom;
        background-size: 80%;

        $gap: 12%;
        padding-bottom: calc(#{$gap} + (min(100vw, 600px)*0.65*0.8*#{29/254}));
        margin-bottom: $gap;
    }

    &__sign{
        width: 62%;
        margin: 0 auto;
        display: grid;
        grid-template: repeat(2, auto)/ auto 1fr auto;
        grid-auto-flow: column;
        grid-gap: 10px 20px;

        &>*{
            justify-self: start;
            &:nth-child(n+3){
                grid-row: span 2;
                align-self: center;
            }
            &:last-child{
                font-size: 1.3em;
            }
        }
        &--1{ margin-bottom: 30px; }
    }

    &__birds{
        position: absolute;
        z-index: -1;
        opacity: 0;
        left: 0; top: 30%;
        transform: rotate(20deg);

        @include animate(5s infinite linear){
            10%,70%{
                opacity: 1;
            }
            80%{
                opacity: 0;
                left: 80%; top:0;
                transform: rotate(-5deg);
            }
        }
    }
    &__bird{
        position: absolute;
        height: 0;

        &::before{
            content: '';
            display: block;
            background: url('./assets/bird.png');
            width: 100%;
            padding-top: 100%;
            @include animate(0.5s infinite steps(5)){
                to{background-position: 125%;}
            }
        }
        @for $i from 1 through 5{
            &--#{$i}{
                $w: math.log($i+1, 2) * 26px;
                width: $w;
                &::before{
                    background-size: $w/128*640;
                    animation-delay: $i*0.1s;
                }

                --deg: #{math.random()*-40deg};
                --x: #{$i*6px};
                --y: #{$i*4px};
                transform: rotate(var(--deg)) translate(var(--x), var(--y));
                @if $i%2 == 0{ --x: #{$i*20px}; }
                @if $i%3 == 0{ --y: #{-$i*5px}; }

                @include animate(5s infinite){
                    from{left:0; top: 0}
                    to{
                        left: $i*-10px;
                        top: $i*18px;
                    }
                }
            }
        }
    }
}

.s3{
    padding: 100px 0;
    display: flex;
    flex-direction: column;

    &>img:not(:last-child){ margin-bottom: 4px; }
}

.s4{
    padding: 30px;

    &__title{
        color: $color-pr;
        font-size: 48px;
        margin-bottom: 6px;
    }
    &__addr{
        color: #9b8b70;
        font-style: normal;
        font-size: 20px;
        margin-bottom: 30px;
    }
    &__map{ margin-bottom: 30px!important; }
    &__guides{ text-align: left; }
    &__guide:not(:last-child){ margin-bottom: 12px; }
}

.di{
    font-size: 13px;
    color: #655b4a;
    line-height: 1.4;

    &__dt{ font-size: 1.2em; margin-left: -6px; }
    &__dd{ padding-left: 6px; }
}
